/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --background-color-primary: #0f162d;
  --background-color-secondary: #272d42;

  --color-primary: #ffffff;
  --color-secondary: #000000;

  --font-family: "DM Sans";
  --mobile-rounding: 16px;
  --desktop-rounding: 24px;

  --header-primary-font-size: 48px;
  --header-primary-line-height: 56px;
  --header-primary-letter-spacing: -0.002em;
  --header-primary-font-weight: 500;

  --header-secondary-font-size: 32px;
  --header-secondary-line-height: 40px;
  --header-secondary-letter-spacing: -0.002em;
  --header-secondary-font-weight: 500px;

  --header-tertiary-font-size: 20px;
  --header-tertiary-line-height: 20px;
  --header-tertiary-letter-spacing: 0;
  --header-tertiary-font-weight: 500px;

  --body-primary-font-size: 16px;
  --body-primary-line-height: 24px;
  --body-primary-letter-spacing: 0;
  --body-primary-font-weight: 400px;

  --body-secondary-font-size: 14px;
  --body-secondary-line-height: 22px;
  --body-secondary-letter-spacing: 0;
  --body-secondary-font-weight: 400px;
}
