/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

/* Figma sizes 
  Dektop: 1440 x 810
  Tablet: 834 x 1194
  Phone: 375 x 1184
*/

/* Mixins */
@mixin breakpoint($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

.home-page-component {
  /* GENRAL */
  --hp-flex-direction: row;
  --tablet-checkpoint: 834px;
  --phone-checkpoint: 375px;

  /* LEFT COLUMN */
  --hp-column-flex-basis: 50%;
  --hp-info-section-margin: 167px 100px 0px 152px;

  --hp-info-title-font-size: var(--header-primary-font-size);
  --hp-info-title-line-height: var(--header-primary-line-height);
  --hp-info-title-letter-spacing: var(--header-primary-letter-spacing);
  --hp-info-title-font-weight: var(--header-primary-font-weight);

  --hp-info-desc-font-size: var(--body-primary-font-size);
  --hp-info-desc-line-height: var(--body-primary-line-height);
  --hp-info-desc-letter-spacing: var(--body-primary-letter-spacing);
  --hp-info-desc-font-weight: var(--body-primary-font-weight);

  --hp-card-desc-font-size: var(--body-primary-font-size);
  --hp-card-desc-line-height: var(--body-primary-line-height);
  --hp-card-desc-letter-spacing: var(--body-primary-letter-spacing);
  --hp-card-desc-font-weight: var(--body-primary-font-weight);

  /* RIGHT COLUMN */
  --hp-card-border-radius: var(--desktop-rounding);
  --hp-cards-container-margin: 159px 152px 0px 0px;
  --hp-card-margin: 10px 0px 0px 8px;
  --hp-card-img-padding: 24px 0px 0px 0px;
  --hp-card-desc-padding: 10px 12px 24px 14px;

  display: flex;
  flex-direction: var(--home-page-flex-direction);

  // -------------------------------- LEFT COLUMN --------------------------------
  & &__left-column {
    display: flex;
    flex-basis: var(--hp-column-flex-basis);
  }

  & &__info-section {
    display: flex;
    flex-direction: column;
    margin: var(--hp-info-section-margin);
  }

  & &__info-title {
    font-size: var(--hp-info-title-font-size);
    line-height: var(--hp-info-title-line-height);
    letter-spacing: var(--hp-info-title-letter-spacing);
    font-weight: var(--hp-info-title-font-weight);
    margin: 0;
  }

  & &__info-description {
    font-size: var(--hp-info-desc-font-size);
    line-height: var(--hp-info-desc-line-height);
    letter-spacing: var(--hp-info-desc-letter-spacing);
    font-weight: var(--hp-info-desc-font-weight);
    margin-top: 25px;
  }

  // -------------------------------- RIGHT COLUMN --------------------------------
  & &__right-column {
    display: flex;
    flex-basis: var(--hp-column-flex-basis);
  }

  & &__cards-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 15px;
    margin: var(--hp-cards-container-margin);
  }

  & &__card {
    text-align: center;
    background-color: var(--background-color-secondary);
    border-radius: var(--hp-card-border-radius);
    margin: var(--hp-card-margin);
  }

  & &__card-img {
    margin: 0px;
    padding: var(--hp-card-img-padding);
  }

  & &__card-title {
    margin: 0px;
    font-size: var(--header-tertiary-font-size);
    line-height: var(--header-tertiary-line-height);
    letter-spacing: var(--header-tertiary-letter-spacing);
    font-weight: var(--header-tertiary-font-weight);
    padding: 16px 6px 8px 8px;
  }

  & &__card-description {
    margin: 0px;
    opacity: 0.5;
    font-size: var(--hp-card-desc-font-size);
    line-height: var(--hp-card-desc-line-height);
    letter-spacing: var(--hp-card-desc-letter-spacing);
    font-weight: var(--hp-card-desc-font-weight);
    padding: var(--hp-card-desc-padding);
  }

  /* Breakpoints */
  /* -------------------------------- Tablet -------------------------------- */
  @include breakpoint(834px) {
    --home-page-flex-direction: column;

    &__left-column,
    &__right-column {
      --home-page-column-flex-basis: 100%;
    }

    & &__info-title {
    }
  }

  /* -------------------------------- Tablet -------------------------------- */

  /* --------------------------- Mobile Phone -------------------------------- */
  @include breakpoint(375px) {
    & &__info-section {
      display: flex;
      flex-direction: column;
      --hp-info-section-margin: 48px 16px 0px 16px;
    }

    & &__info-title {
      --hp-info-title-font-size: var(--header-secondary-font-size);
      --hp-info-title-line-height: var(--header-secondary-line-height);
      --hp-info-title-letter-spacing: var(--header-secondary-letter-spacing);
      --hp-info-title-font-weight: var(--header-secondary-font-weight);
      margin-top: 10px;
    }

    & &__info-description {
      margin-top: 16px;
    }

    & &__cards-container {
      display: flex;
      flex-direction: column;
      --hp-cards-container-margin: 8px 16px 0px 16px;
    }

    & &__card {
      --hp-card-border-radius: var(--mobile-rounding);
      --hp-card-margin: 0px;
    }

    & &__card-img {
      margin: 0;
      --hp-card-img-padding: 16px 16px 8px 10px;
      transform: scale(0.83); // 83% of original size
    }

    & &__card-title {
      padding: 0px;
      margin: 0px;
    }

    & &__card-description {
      --hp-card-desc-font-size: var(--body-secondary-font-size);
      --hp-card-desc-line-height: var(--body-secondary-line-height);
      --hp-card-desc-letter-spacing: var(--body-secondary-letter-spacing);
      --hp-card-desc-font-weight: var(--body-secondary-font-weight);
      --hp-card-desc-padding: 16px 20px 20px 20px;
    }
  }

  /* --------------------------- Mobile Phone -------------------------------- */
}
